/* ----------------------------------------------------------- */
/* == Double rainbow v0.0.1 */
/* ----------------------------------------------------------- */

.dr-wrapper {
  position: relative;
  display: inline-block;
}

.dr-btn {
  display: block;
  padding: 0 30px 0 0;
  width: 90px;
  height: 30px;
  outline: none;
  border: 1px solid #2c3e50;
  border-radius: 2px;
  background-clip: content-box;
  box-shadow: none;
  cursor: pointer;
}

.dr-wrapper::after {
  position: absolute;
  top: 50%;
  right: 8px;
  display: block;
  margin-bottom: -10px;
  width: 0;
  height: 0;
  border-top: 8px solid #2c3e50;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  content: '';
  transform: translateY(-50%);
  pointer-events: none;

}

/* state
-------------------------------------------------------------- */

.dr-wrapper--active .dr-colors {
  display: block;
}

/* dropdown
-------------------------------------------------------------- */

.dr-colors {
  position: absolute;
  top: calc(100% + 1px);
  right: 0%;
  left: 0%;
  display: none;
  margin: 0;
  padding: 10px;
  border-radius: 2px;
  background-color: #fafafa;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.2);
  list-style-type: none;
  letter-spacing: 2px;
}

.dr-colors li {
  display: inline-block;
  margin: .2rem;
  padding: 2px;
  width: 20px;
  height: 20px;
  border: 1px solid #2c3e50;
  border-radius: 2px;
  background-color: red;
  background-clip: content-box;
  cursor: pointer;
}

.dr-colors li:hover {
  background-clip: border-box;
}
